#!/bin/zsh
set -e;
set -x;

# Load functions
. "$__AA_BASEDIR/aafns";

CONTAINER_NAME="test-mongo";
PORT="27017";

function down() {
  shutdown_and_remove_the_container "$CONTAINER_NAME";
  wait_the_port_to_be_release "$PORT";
}

function up() {
  down;

  sudo docker run --name "$CONTAINER_NAME" --publish "127.0.0.1:$PORT:$PORT" --env-file "$__AA_BASEDIR/mongo.env" -v "$(readlink -f "$__AA_BASEDIR/../data/mongo/"):/data/db:rw" --detach "mongo:latest";
}

ACTION="$1";
shift;

if [[ "$ACTION" =~ ^(up|down)$ ]]; then
  echo "Accept ACTION="$ACTION"";

  "$ACTION";
else 
  echo "Deny ACTION="$ACTION" REASON="Unknown action"";
fi;